.ok-button {
    width: 56px;
    height: 56px;

    border: none;
    border-radius: 2px;
    background-color: #76CC85;
    background-image: url('../images/ok-icon.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 31px 23px;
    box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.10);
}
