@import "components";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url("../images/background.jpg");
}

.canvas {
    position: fixed;
    // overflow: scroll;

    width: 100%;
    height: 100%;

    padding: 40px;

    background: #dae7e4;


    background-image: url("../images/background.jpg");

    opacity: 0;
    transition: opacity .5s;

    &.active {
        opacity: 1;
    }

    // -webkit-overflow-scrolling: touch;
}

.lanas_holder {
    position: absolute;

    min-width: 375px;
    min-height: 490px;

    margin: 40px;

    margin-right: 0;
    margin-bottom: 0;

    padding: 0;

    transition: transform .25s;
    // margin-right: 40px;
    // padding-top: 40px;
    // padding-right: 40px;

    .lana_spot {
        position: absolute;
        top: 0;
        left: 0;

        width: 110px;
        height: 165px;

        // margin-bottom: 40px;
        // margin-right: 40px;

        background-color: #cfdbd8;
        background-position: center center;

        transition: all .5s;

        &:before {
            position: absolute;
            content: " ";
            background: #D7E8E4;
            top: -40px;
            left: -40px;
            width: 190px;
            height: 245px;
            pointer-events: none;
            // box-shadow: 0 4px 8px rgba(0,0,0,.3);
            z-index: -1;
        }

        &.active {
            background-image: url('../images/lana-plus-icon.png');
            background-repeat: no-repeat;
            background-size: 24px 24px;
            background-position: center center;
            background-color: #FFF;
            box-shadow: 0 0 10px 3px rgba(255,255,255,.5);
        }



        .lana {
            float: left;
            position: relative;
            height: 165px;
            z-index: 10;

            transition: box-shadow .2s, opacity .2s;

            &.disabled {
                opacity: .5;
            }

            &.active {
                box-shadow: 0 0 13px 5px rgba(255,255,255,.7);
                opacity: 1;
            }
        }

        &.blocked {
            background-image: url('../images/blocked-slot.png');
            background-repeat: no-repeat;
            background-position: center center;

            .lana {
                opacity: 0;
            }
        }

    }

}

.version-holder {
    position: fixed;
    z-index: 100000;
    bottom: 0;
    right: 0;
    font-size: 11px;
    padding: 2px 5px;
    background: rgba(0,0,0,.1);

    font-family: Helvetica;
}


#canvas > div[style~="visibility: hidden; height: 1px"] {
    display: none;
}

// Lanas

.lana {

    background: #FFF;

    .lana-thumb {
        position: relative;
        font-family: "Francois One";
        font-size: 12px;
        color: #000000;
        line-height: 12px;
        text-align: center;

        margin-top: 0px;
        padding: 10px;
        // background: #FFF;
        width: 110px;
        height: 165px;

        .lana-title {

        }

        img {
            width: 100%;
        }

        .lana-icons {
            position: absolute;
            padding: 0;
            margin: 0;
            bottom: 10px;

            list-style: none;

            width: 90px;

            li {
                float: left;
                width: 33.33%;
                height: 30px;
            }

            &.yellow {
                li {
                    background: #EFC94C;
                    color: #B39738;

                    &:nth-child(2) {
                        background: #E7C249;
                    }

                    &:nth-child(3) {
                        background: #E0BD47;
                    }
                }
            }

            &.green {
                li {
                    background: #45B29D;
                    color: #399584;

                    &:nth-child(2) {
                        background: #42AC98;
                    }

                    &:nth-child(3) {
                        background: #40A793;
                    }
                }
            }

            &.blue {
                li {
                    background: #5C8FCC;
                    color: #4D78AC;

                    &:nth-child(2) {
                        background: #598AC5;
                    }

                    &:nth-child(3) {
                        background: #5686C0;
                    }
                }
            }

            &.red {
                li {
                    background: #DF5A49;
                    color: #BB4B3D;

                    &:nth-child(2) {
                        background: #D85746;
                    }

                    &:nth-child(3) {
                        background: #D15444;
                    }
                }
            }

        }
    }

}


.lana-creation-holder {
    opacity: 0;
    pointer-events: none;

    .lana-creation-overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #D7E8E4;

        button {
            border: none;
            background: none;
            background-repeat: no-repeat;
            background-position: center center;

            &.close-button {
                width: 20px;
                height: 20px;
                background-image: url('../images/close-black.png');
                background-size: 20px 20px;

                position: absolute;
                margin: 20px;
            }

            &.delete-button {
                width: 13px;
                height: 16px;
                background-image: url('../images/del-black.png');
                background-size: 13px 16px;

                position: absolute;
                bottom: 50px;
                left: 27px;
            }
        }
    }

    padding: 20px;


    .lana-creation {
        opacity: 1;
        // pointer-events: none;

        box-shadow: 0 2px 16px 0 rgba(0,0,0,0.10);
        border-radius: 4px;

        background: #FFF;

        position: absolute;
        top: 75px;
        left: 50%;

        margin-left: - 270px / 2;

        width: 270px;
        padding: 30px;

        .title-input-holder, .description-input-holder {
            position: relative;
        }

        p {
            margin: 0;

            button {
                position: absolute;
                right: -56px - 20px;
                top: 0;
                display: none;
            }
        }

        input {
            width: 100%;
            border: 1px solid #E9E7E7;
            border-radius: 2px;
            height: 54px;

            font-family: 'Francois One';
            font-size: 20px;
            color: #000000;
            letter-spacing: 0px;
            line-height: 22px;
            text-align: center;

            margin-bottom: 10px;
        }

        textarea {
            border: 1px solid #E9E7E7;
            border-radius: 2px;
            height: 137px;
            width: 100%;

            padding: 10px;

            font-family: 'Francois One';
            font-size: 14px;
            color: #000000;
            letter-spacing: 0px;

            text-align: center;
        }


        .lana-icons {
            position: relative;
            padding: 0;
            margin: 0;
            margin-top: 75px;
            bottom: 0;

            list-style: none;

            width: 210px;

            li {
                float: left;
                width: 33.33%;
                height: 70px;

                &:nth-child(1) {
                    border-radius: 3px 0 0 3px;
                }

                &:nth-child(3) {
                    border-radius: 0 3px 3px 0;
                }
            }

            &.yellow {
                li {
                    background: #EFC94C;
                    color: #B39738;

                    &:nth-child(2) {
                        background: #E7C249;
                    }

                    &:nth-child(3) {
                        background: #E0BD47;
                    }
                }
            }

            &.green {
                li {
                    background: #45B29D;
                    color: #399584;

                    &:nth-child(2) {
                        background: #42AC98;
                    }

                    &:nth-child(3) {
                        background: #40A793;
                    }
                }
            }

            &.blue {
                li {
                    background: #5C8FCC;
                    color: #4D78AC;

                    &:nth-child(2) {
                        background: #598AC5;
                    }

                    &:nth-child(3) {
                        background: #5686C0;
                    }
                }
            }

            &.red {
                li {
                    background: #DF5A49;
                    color: #BB4B3D;

                    &:nth-child(2) {
                        background: #D85746;
                    }

                    &:nth-child(3) {
                        background: #D15444;
                    }
                }
            }

        }
    }

    .char-remaining {
        position: fixed;
        padding-top: 8px;
        display: none;
        left: 0;
        bottom: 216px;
        background: #769D94;
        height: 30px;
        text-align: center;
        width: 100%;

        text-transform: uppercase;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 100;
        font-size: 10px;

        color: rgba(0,0,0,.5);

        strong {
            font-size: 12px;
        }

        &.green {
            background: #76CC85;
        }

        &.yellow {
            background: #CCC076;
        }

        &.red {
            background: #BC6A5D;
            color: #FFF;
        }
    }
}
