.ok-button {
  width: 56px;
  height: 56px;
  border: none;
  border-radius: 2px;
  background-color: #76CC85;
  background-image: url("../images/ok-icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 31px 23px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.1); }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  background-image: url("../images/background.jpg"); }

.canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 40px;
  background: #dae7e4;
  background-image: url("../images/background.jpg");
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s; }
  .canvas.active {
    opacity: 1; }

.lanas_holder {
  position: absolute;
  min-width: 375px;
  min-height: 490px;
  margin: 40px;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s; }
  .lanas_holder .lana_spot {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    height: 165px;
    background-color: #cfdbd8;
    background-position: center center;
    -webkit-transition: all .5s;
    transition: all .5s; }
    .lanas_holder .lana_spot:before {
      position: absolute;
      content: " ";
      background: #D7E8E4;
      top: -40px;
      left: -40px;
      width: 190px;
      height: 245px;
      pointer-events: none;
      z-index: -1; }
    .lanas_holder .lana_spot.active {
      background-image: url("../images/lana-plus-icon.png");
      background-repeat: no-repeat;
      background-size: 24px 24px;
      background-position: center center;
      background-color: #FFF;
      box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.5); }
    .lanas_holder .lana_spot .lana {
      float: left;
      position: relative;
      height: 165px;
      z-index: 10;
      -webkit-transition: box-shadow .2s, opacity .2s;
      transition: box-shadow .2s, opacity .2s; }
      .lanas_holder .lana_spot .lana.disabled {
        opacity: .5; }
      .lanas_holder .lana_spot .lana.active {
        box-shadow: 0 0 13px 5px rgba(255, 255, 255, 0.7);
        opacity: 1; }
    .lanas_holder .lana_spot.blocked {
      background-image: url("../images/blocked-slot.png");
      background-repeat: no-repeat;
      background-position: center center; }
      .lanas_holder .lana_spot.blocked .lana {
        opacity: 0; }

.version-holder {
  position: fixed;
  z-index: 100000;
  bottom: 0;
  right: 0;
  font-size: 11px;
  padding: 2px 5px;
  background: rgba(0, 0, 0, 0.1);
  font-family: Helvetica; }

#canvas > div[style~="visibility: hidden; height: 1px"] {
  display: none; }

.lana {
  background: #FFF; }
  .lana .lana-thumb {
    position: relative;
    font-family: "Francois One";
    font-size: 12px;
    color: #000000;
    line-height: 12px;
    text-align: center;
    margin-top: 0px;
    padding: 10px;
    width: 110px;
    height: 165px; }
    .lana .lana-thumb img {
      width: 100%; }
    .lana .lana-thumb .lana-icons {
      position: absolute;
      padding: 0;
      margin: 0;
      bottom: 10px;
      list-style: none;
      width: 90px; }
      .lana .lana-thumb .lana-icons li {
        float: left;
        width: 33.33%;
        height: 30px; }
      .lana .lana-thumb .lana-icons.yellow li {
        background: #EFC94C;
        color: #B39738; }
        .lana .lana-thumb .lana-icons.yellow li:nth-child(2) {
          background: #E7C249; }
        .lana .lana-thumb .lana-icons.yellow li:nth-child(3) {
          background: #E0BD47; }
      .lana .lana-thumb .lana-icons.green li {
        background: #45B29D;
        color: #399584; }
        .lana .lana-thumb .lana-icons.green li:nth-child(2) {
          background: #42AC98; }
        .lana .lana-thumb .lana-icons.green li:nth-child(3) {
          background: #40A793; }
      .lana .lana-thumb .lana-icons.blue li {
        background: #5C8FCC;
        color: #4D78AC; }
        .lana .lana-thumb .lana-icons.blue li:nth-child(2) {
          background: #598AC5; }
        .lana .lana-thumb .lana-icons.blue li:nth-child(3) {
          background: #5686C0; }
      .lana .lana-thumb .lana-icons.red li {
        background: #DF5A49;
        color: #BB4B3D; }
        .lana .lana-thumb .lana-icons.red li:nth-child(2) {
          background: #D85746; }
        .lana .lana-thumb .lana-icons.red li:nth-child(3) {
          background: #D15444; }

.lana-creation-holder {
  opacity: 0;
  pointer-events: none;
  padding: 20px; }
  .lana-creation-holder .lana-creation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #D7E8E4; }
    .lana-creation-holder .lana-creation-overlay button {
      border: none;
      background: none;
      background-repeat: no-repeat;
      background-position: center center; }
      .lana-creation-holder .lana-creation-overlay button.close-button {
        width: 20px;
        height: 20px;
        background-image: url("../images/close-black.png");
        background-size: 20px 20px;
        position: absolute;
        margin: 20px; }
      .lana-creation-holder .lana-creation-overlay button.delete-button {
        width: 13px;
        height: 16px;
        background-image: url("../images/del-black.png");
        background-size: 13px 16px;
        position: absolute;
        bottom: 50px;
        left: 27px; }
  .lana-creation-holder .lana-creation {
    opacity: 1;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background: #FFF;
    position: absolute;
    top: 75px;
    left: 50%;
    margin-left: -135px;
    width: 270px;
    padding: 30px; }
    .lana-creation-holder .lana-creation .title-input-holder, .lana-creation-holder .lana-creation .description-input-holder {
      position: relative; }
    .lana-creation-holder .lana-creation p {
      margin: 0; }
      .lana-creation-holder .lana-creation p button {
        position: absolute;
        right: -76px;
        top: 0;
        display: none; }
    .lana-creation-holder .lana-creation input {
      width: 100%;
      border: 1px solid #E9E7E7;
      border-radius: 2px;
      height: 54px;
      font-family: 'Francois One';
      font-size: 20px;
      color: #000000;
      letter-spacing: 0px;
      line-height: 22px;
      text-align: center;
      margin-bottom: 10px; }
    .lana-creation-holder .lana-creation textarea {
      border: 1px solid #E9E7E7;
      border-radius: 2px;
      height: 137px;
      width: 100%;
      padding: 10px;
      font-family: 'Francois One';
      font-size: 14px;
      color: #000000;
      letter-spacing: 0px;
      text-align: center; }
    .lana-creation-holder .lana-creation .lana-icons {
      position: relative;
      padding: 0;
      margin: 0;
      margin-top: 75px;
      bottom: 0;
      list-style: none;
      width: 210px; }
      .lana-creation-holder .lana-creation .lana-icons li {
        float: left;
        width: 33.33%;
        height: 70px; }
        .lana-creation-holder .lana-creation .lana-icons li:nth-child(1) {
          border-radius: 3px 0 0 3px; }
        .lana-creation-holder .lana-creation .lana-icons li:nth-child(3) {
          border-radius: 0 3px 3px 0; }
      .lana-creation-holder .lana-creation .lana-icons.yellow li {
        background: #EFC94C;
        color: #B39738; }
        .lana-creation-holder .lana-creation .lana-icons.yellow li:nth-child(2) {
          background: #E7C249; }
        .lana-creation-holder .lana-creation .lana-icons.yellow li:nth-child(3) {
          background: #E0BD47; }
      .lana-creation-holder .lana-creation .lana-icons.green li {
        background: #45B29D;
        color: #399584; }
        .lana-creation-holder .lana-creation .lana-icons.green li:nth-child(2) {
          background: #42AC98; }
        .lana-creation-holder .lana-creation .lana-icons.green li:nth-child(3) {
          background: #40A793; }
      .lana-creation-holder .lana-creation .lana-icons.blue li {
        background: #5C8FCC;
        color: #4D78AC; }
        .lana-creation-holder .lana-creation .lana-icons.blue li:nth-child(2) {
          background: #598AC5; }
        .lana-creation-holder .lana-creation .lana-icons.blue li:nth-child(3) {
          background: #5686C0; }
      .lana-creation-holder .lana-creation .lana-icons.red li {
        background: #DF5A49;
        color: #BB4B3D; }
        .lana-creation-holder .lana-creation .lana-icons.red li:nth-child(2) {
          background: #D85746; }
        .lana-creation-holder .lana-creation .lana-icons.red li:nth-child(3) {
          background: #D15444; }
  .lana-creation-holder .char-remaining {
    position: fixed;
    padding-top: 8px;
    display: none;
    left: 0;
    bottom: 216px;
    background: #769D94;
    height: 30px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5); }
    .lana-creation-holder .char-remaining strong {
      font-size: 12px; }
    .lana-creation-holder .char-remaining.green {
      background: #76CC85; }
    .lana-creation-holder .char-remaining.yellow {
      background: #CCC076; }
    .lana-creation-holder .char-remaining.red {
      background: #BC6A5D;
      color: #FFF; }

/*# sourceMappingURL=main.css.map */
